#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .train-marker {
    background-image: url('/static/metro_logo.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}